@page
@model mhms3.Pages.Sessions.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "_DashboardCounselor";
}

@*<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Session[0].Appointment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Session[0].Appointment.Client.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Session[0].Appointment.Client.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Session[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Session[0].TimeStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Session[0].TimeEnd)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Session)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Appointment.AppointmentId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Appointment.Client.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Appointment.Client.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeStart)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeEnd)
                </td>

                <td>

                    <a asp-page="./Details" asp-route-id="@item.SessionId">Details</a>

                </td>
            </tr>
        }
    </tbody>
</table>
*@
<div class="container-xl">
    <!-- Page title -->
    <div class="page-header d-print-none">
        <div class="row align-items-center">
            <div class="col">
                <!-- Page pre-title -->
                <div class="page-pretitle">
                    Overview
                </div>
                <h2 class="page-title">
                    Sessions
                </h2>
            </div>
            <!-- Page title actions -->
        </div>
    </div>
</div>
<div class="page-body">
    <div class="container-xl d-flex flex-column justify-content-center">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-table table-responsive">
                        <table class="table table-vcenter">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Session[0].SessionId)
                                    </th>
                                    <th>
                                        Client Name
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Session[0].Date)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Session[0].TimeStart)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Session[0].TimeEnd)
                                    </th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Session)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.SessionId)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Appointment.Client.FirstName) @Html.DisplayFor(modelItem => item.Appointment.Client.LastName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Date)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TimeStart)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TimeEnd)
                                        </td>
                                        <td>
                                                <a class="btn btn-white d-none d-sm-inline-block" asp-page="./Details" asp-route-id="@item.SessionId">
                                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-eye" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                        <circle cx="12" cy="12" r="2"></circle>
                                                        <path d="M22 12c-2.667 4.667 -6 7 -10 7s-7.333 -2.333 -10 -7c2.667 -4.667 6 -7 10 -7s7.333 2.333 10 7"></path>
                                                    </svg>
                                                    View
                                                </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
